<div id="sobre">
    <div class="container">
        <h1>Sobre o Jogo T-Rex</h1>
        <div class="q-and-a">
            <hr class="mt-4 mb-4"/>
            <h4>O Jogo T-Rex da Disciplina Programação WEB</h4>
            <p>
            O T-Rex Running da Disciplina Programação WEB foi inspirado no
            famoso jogo do dinossauro do Google Chrome que, por sua vez, pode
            ser um ótimo passatempo quando a internet cai.<br>
            Desenvolvido por <%= author %> em 2019, este divertido
            game pode ser desfrutado pelo usuário nos mais diversos navegadores e
            dispositivos incluindo celulares, tablets e televisores!
            </p>
        </div>
    </div>
</div>