<div id="trex-sobre">
    <div class="container">
        <div class="row">
            <div class="col-sm mt-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sobre</li>
                    </ol>
                </nav>
            </div>
        </div>
        <h1>Sobre o Jogo T-Rex</h1>
        <div class="q-and-a">
            <hr class="mt-4 mb-4" />
            <h4>O Jogo T-Rex da Disciplina Programação WEB</h4>
            <p>
                O T-Rex Running da Disciplina Programação WEB foi inspirado no
                famoso jogo do dinossauro do Google Chrome que, por sua vez, pode
                ser um ótimo passatempo quando a internet cai.<br>
                Desenvolvido por <%= dados[0].author %> em <%= dados[1].release_date %>, este divertido
                game pode ser desfrutado pelo usuário nos mais diversos navegadores e
                dispositivos incluindo celulares, tablets e televisores!
            </p>
            <img class="img-center" src="/images/trex-armageddon.png" alt="Imagem do T-Rex no Armageddon">
        </div>
    </div>
</div>