<div id="trex-welcome">
    <div class="container">
        <h1>Bem Vindo ao TRex Runner Game Website!</h1>
        <div class="q-and-a">
            <hr class="mt-4 mb-4" />
            <h4>O Jogo T-Rex da Disciplina Programação WEB</h4>
            <p>
                O T-Rex Running da Disciplina Programação WEB foi inspirado no
                famoso jogo do dinossauro do Google Chrome que, por sua vez, pode
                ser um ótimo passatempo quando a internet cai.<br>
                Desenvolvido por Felipe André em 2019, este divertido
                game pode ser desfrutado pelo usuário nos mais diversos navegadores e
                dispositivos incluindo celulares, tablets e televisores!
            </p>

            <h5>Para jogar basta <a href="/login">logar</a> ou <a href="/signup">criar uma conta</a> e se divertir, é simples, rápido e fácil!</h5><br>
            <img class="img-center" src="/images/trex-running.gif" alt="Imagem do T-Rex no Armageddon">

            <div class="row">
                <div class="col text-center mt-5">
                    <a href="/game" class="btn btn-info">Jogar Agora!</a>
                </div>
            </div>
            
        </div>
    </div>
</div>