/************************************************
*   Trabalhando com EventListener e Mouseover   *
*************************************************
* Autor  : Felipe André Souza da Silva          *
* e-mail : fass@icomp.ufam.edu.br               *
* Criação: 01/06/2019                           *
*************************************************/

body {
    height: 200px;
    background: beige;
}

.dot {
    height: 8px;
    width : 8px;
    border-radius: 4px;
    background: blue;
    position  : absolute;
}