<style>
    #pulp {
      width: 100%;
      height: 100%;
      background-image: url("https://media.giphy.com/media/6uGhT1O4sxpi8/giphy.gif");
      background-repeat  : no-repeat;
      background-position: top;
      background-size: 100%;
      position: absolute;
      opacity: 0.5;
    }
</style>

<span id="pulp"></span>
<div id="404">
  <div class="container text-center">
    <h1 class="display-1 mb-3">404</h1>
    <hr/>
    <h2>A página que você procura não existe.</h2>
    <div class="help">
      <p>Acha que eu estou errado?<br/><span class="mobile-spacer">&nbsp;</span>Então <a href="/contact">entre em contato.</a></p>
    </div>
  </div>
</div>